*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:60px;
    background: rgb(22, 22, 22);
    color: rgb(124, 123, 123);
  
}

.dasawyisi{
    display: flex;
    width:10%;
    height:60px;
    justify-content: center;
    align-items: center;
}

.shua {
    width:45%;
    height: 60px;
}

.bolo {
    width:18%;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.header_ul {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    list-style-type:none;
    font-weight: bolder;

}
.pirveli_li {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    font-size:17px;
    font-weight: bolder;

}

.shua_li{
    float: left;
    display: block; 
    font-size:17px;
    font-weight: bolder;

}

.pirveli_li:hover {
    display: block;
}

.shua_li:hover  {
    display: block;
    color: white;
}
.li_button {
    width:160px;
    height: 35px;
    border:none;
    background:rgb(43, 94, 233);
    color:white;
    border-radius:20px;
    font-weight: bolder;
 
}

.fa-search{
    font-size:1.3em;
}

.submit2 {
    border:none;
    font-weight: bolder;
    color: rgb(124, 123, 123);
    font-size:1em;
    background: rgb(22, 22, 22);
}
.cta-header-title {
    font-size: 70px;
    font-weight: 900;
    letter-spacing: -0.11rem;
    line-height: 0.95;
    margin: 0.2px auto 0;
}


.cta-header {
    background: url(cta-header.jpg);
    color: #fff;
    height: 210px;
    border: 0;
    justify-content: center;
    padding: 25px 20px;
    text-align: center;
    width: 100%;

}

.chamonatvali{
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 0 4px rgba(25,25,25,.1);
    display: flex;
    justify-content: center;
}

.chamonatvali_ul{
    width: 600px;
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    color:rgb(63, 61, 61);
}
.hover:hover  {
    display: block;
    color: rgb(43, 94, 233);
}
.galeri {
    width: 100%;
    height:900px;
    margin: 30px;
}

.box {
    width: 300px;
    height:250px;
    position: relative;
}
